<style>
all {
	padding:0;
	margin:0;
}

html{	
	background-color:white;
}

body {
	background-color:grey;
}

.menu-bar {
	color:white;
	font-size:25px;
	cursor:pointer;
	padding:10px 12px;
	margin-left:10px;
	margin-top:5px;
	margin-bottom:5px;
}

.menu-bar:hover {
	background-color:rgba(0, 0, 0, 0.1);
	border-radius:50px;
}

tag-menu,#tab1,#tab2,#tab3 {
	display:none;
}

#tag-menu:checked ~ div.jw-drawer {
	 animation: slide-in 0.5s ease;
	 animation-fill-mode: forwards;
}

.jw-drawer {
	position:fixed;
	left:-280px;
	height:100%;
	z-index:100;
	width:230px;
	animation: slide-out 0.5s ease;
	animation-fill-mode: forwards;
}

.jw-drawer ul li {
	list-style:none;
}

.jw-drawer ul li a {
	padding:10px 20px;
	text-decoration:none;
	display:block;
	color:black;
	border-top:1px solid #059;
	border-bottom:1px solid #059;
}

.jw-drawer ul li a:hover{
	background-color:rgba(0, 0, 0, 0.1);
}

.jw-drawer ul li a i {
	width:50px;
	height:35px;
	text-align:center;
	padding-top:15px;
}

@keyframes slide-in {
	 from {left: -280px;} to {left: 0;}
}

@keyframes slide-out {
	from {left: 0;} to {left: -280px;}
}

.content{
	padding: 10px 0 0 250px;
}

footer{
	text-align:center; 
}

nav {
	float: top;
	max-width: 160px;
	margin: 0;
	padding: 1em;   
	background-color:pink;
}

nav ul { 
	list-style-type: none;
	padding: 0;
}

nav ul a {
	text-decoration: none;
}

div.one {
	background-color:pink;
	margin-left:25%;
	margin-right:30%;
	border-left: 1px solid black;
	border-right: 1px solid black;
	padding: 1em;
	overflow: hidden;
}

label:hover {
		background-color:rgba(0, 0, 0, 0.1);
	border-radius:50px;
}

h3{
	text-align:justify;
	padding:5%; 
	border:2px solid#000;
}

h1{
	text-align:center;
}

input, section {
                clear:both;
                padding-top:10px;
                display:none;
}

label {
                font-weight:bold;
                font-size:14px;
                display: block;
                padding: 10px 30px;
                border-top: 2px solid transparent;
                border-right: 1px solid transparent;
                border-left: 1px solid transparent;            
}

label:hover {
                cursor:pointer;
                text-decoration:underline;
}

#tab1:checked ~ #content1, #tab2:checked ~ #content2, #tab3:checked ~ #content3 {
                display:block;
}

input:checked+ label  {
                border-bottom-color: transparent;
                text-decoration:none;
}

section {
                border:1px solid black;
                padding:0px 100px 100px 100px;
                width:351px;
                border-radius:0 0 10px 100px;
}
</style>
